Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

lint(): Review cyclomatic complexity
  sagaz/storage/manager.py
Due: unittests, integration, Storage Backends

config(): Necessary dependencies
  pyproject.toml
  uv.lock
Due: none

feat(): Context streaming and project cli options
  docs/architecture/.adr-update-tracker.md
  docs/architecture/adr-dependencies-complete.md
  docs/architecture/adr-roadmap-dependencies.md
  docs/architecture/adr/adr-021-lightweight-context-streaming.md
  docs/architecture/adr/adr-025-event-driven-triggers.md
  docs/architecture/adr/adr-027-project-cli.md
  docs/architecture/decisions.md
  sagaz/__main__.py
  sagaz/cli/app.py
  sagaz/cli/examples.py
  sagaz/cli/project.py
  sagaz/core/__init__.py
  sagaz/core/context.py
  sagaz/core/saga.py
  tests/unit/cli/test_project.py
  tests/unit/core/test_context_coverage.py
  tests/unit/core/test_context_s3.py
  tests/unit/core/test_context_s3_coverage.py
  tests/unit/core/test_context_streaming.py
Due: unittests, integration

refactor(): Reduce complexity and linting
  sagaz/__main__.py
  sagaz/cli/app.py
  sagaz/cli/examples.py
  sagaz/cli/project.py
  sagaz/core/__init__.py
  sagaz/core/context.py
  sagaz/core/saga.py
  tests/unit/cli/test_project.py
  tests/unit/core/test_context_coverage.py
  tests/unit/core/test_context_s3.py
  tests/unit/core/test_context_s3_coverage.py
  tests/unit/core/test_context_streaming.py
  uv.lock
Due: unittests, integration

silly(): Remove whitespace
  sagaz/cli/project.py
Due: unittests, integration

feat: Add warning-first memory validation system for SagaContext
  examples/memory_validation_example.py
  sagaz/core/__init__.py
  sagaz/core/context.py
  tests/unit/core/test_context_validation.py
Due: unittests, integration

feat: Implement Saga Replay infrastructure (Phase 1)
  sagaz/core/__init__.py
  sagaz/core/replay.py
  sagaz/core/saga_replay.py
  sagaz/storage/backends/memory_snapshot.py
  sagaz/storage/interfaces/snapshot.py
  tests/unit/core/test_replay.py
Due: unittests, integration, Storage Backends

docs: Update ADR tracking files for completed features
  docs/architecture/.adr-update-tracker.md
  docs/architecture/adr-dependencies-complete.md
  docs/architecture/adr-roadmap-dependencies.md
Due: none

docs: Update ADR-024 status to In Progress with visual indicators
  docs/architecture/.adr-update-tracker.md
  docs/architecture/adr-dependencies-complete.md
  docs/architecture/adr-roadmap-dependencies.md
  docs/architecture/adr/adr-024-saga-replay.md
Due: none

feat: Integrate snapshot capture into Saga execution (Priority 1 - Part 1)
  sagaz/core/saga.py
  sagaz/core/saga_replay.py
  tests/integration/test_saga_replay_integration.py
  tests/unit/core/test_replay.py
Due: unittests, integration

feat: Complete saga execution integration (Priority 1 - COMPLETE)
  sagaz/core/saga_replay.py
  tests/integration/test_saga_replay_integration.py
Due: unittests, integration

feat: Implement Time-Travel Queries (Phase 3 - COMPLETE)
  sagaz/core/time_travel.py
  tests/unit/core/test_time_travel.py
Due: unittests, integration

feat: Add CLI commands for replay and time-travel (Phase 4 - COMPLETE)
  sagaz/cli/app.py
  sagaz/cli/replay.py
Due: unittests, integration

feat: Add compliance features (Phase 5 - COMPLETE)
  sagaz/core/compliance.py
  tests/unit/core/test_compliance.py
Due: unittests, integration

docs: Update ADR-024 status to COMPLETE (All 5 Phases)
  docs/architecture/.adr-update-tracker.md
  docs/architecture/adr-dependencies-complete.md
  docs/architecture/adr-roadmap-dependencies.md
  docs/architecture/adr/adr-024-saga-replay.md
Due: none

refactor: Rename CLI command from 'replay-cli' to 'replay'
  sagaz/cli/app.py
  sagaz/cli/replay.py
Due: unittests, integration

refactor: Rename 'replay replay' to 'replay run' for better UX
  sagaz/cli/replay.py
Due: unittests, integration

docs: Add comprehensive Saga Replay feature summary
  REPLAY_FEATURE_SUMMARY.md
Due: none

docs: Update ADR-024 with complete implementation details
  docs/architecture/adr/adr-024-saga-replay.md
Due: none
