Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

docs(development-policy): remove WORKFLOW_IMPROVEMENTS.md
  docs/development/WORKFLOW_IMPROVEMENTS.md
Due: none

feat(saga): implement workflow improvements #2, #4, #8
  .github/workflows/gitflow-compliance.yml
Due: none

docs(development-policy): enhance GitFlow enforcement documentation (#136)
  .github/skills/development-policy/SKILL.md
  .github/workflows/gitflow-compliance.yml
  docs/development/contributing.md
Due: none

docs(development-policy): enhance GitFlow enforcement documentation (#136) (#138)
  .github/skills/development-policy/SKILL.md
  .github/workflows/gitflow-compliance.yml
  docs/development/contributing.md
Due: none

chore(ci): promote dependency updates from develop to main (#152)
  .github/workflows/maintenance.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  docker-compose.yaml
  sagaz/resources/local/kafka/docker-compose.yaml
  sagaz/resources/local/postgres/docker-compose.yaml
  sagaz/resources/local/rabbitmq/docker-compose.yaml
  sagaz/resources/local/redis/docker-compose.yaml
Due: unittests, integration

feat(saga): implement saga versioning and schema evolution (ADR-018)
  sagaz/__init__.py
  sagaz/versioning/__init__.py
  sagaz/versioning/exceptions.py
  sagaz/versioning/migration.py
  sagaz/versioning/registry.py
  sagaz/versioning/resolver.py
  sagaz/versioning/saga_version.py
  sagaz/versioning/version.py
  tests/unit/versioning/__init__.py
  tests/unit/versioning/test_versioning.py
Due: unittests, integration

fix(sagaz): remove unused timezone import from versioning registry
  sagaz/versioning/registry.py
Due: unittests, integration

fix(saga): address Copilot review — immutable Version, stricter resolver, normalized migrations
  sagaz/versioning/migration.py
  sagaz/versioning/resolver.py
  sagaz/versioning/version.py
  tests/unit/versioning/test_versioning.py
Due: unittests, integration

feat(tests): implement ChaosMonkey for chaos engineering (ADR-017)
  sagaz/__init__.py
  sagaz/testing/__init__.py
  sagaz/testing/chaos.py
  tests/unit/testing/__init__.py
  tests/unit/testing/test_chaos_monkey.py
Due: unittests, integration

fix(tests): address Copilot review — remove unused imports, fix test docstring
  sagaz/testing/chaos.py
  tests/unit/testing/test_chaos_monkey.py
Due: unittests, integration

fix(tests): remove unused field and Enum imports, fix TimeoutError in chaos module
  sagaz/testing/chaos.py
Due: unittests, integration

feat(monitoring): add sagaz analytics Bronze-Silver-Gold pipeline
  docs/architecture/adr/adr-036-sqldim-analytics-pipeline.md
  pyproject.toml
  sagaz/analytics/__init__.py
  sagaz/analytics/pipeline.py
  sagaz/analytics/queries.py
  sagaz/analytics/schema.py
  tests/unit/test_analytics.py
Due: unittests, integration

fix(sagaz): address copilot review suggestions on sqldim analytics pipeline
  sagaz/analytics/pipeline.py
  sagaz/analytics/schema.py
  tests/unit/test_analytics.py
Due: unittests, integration

refactor(sagaz): leverage sqldim TransformPipeline, typed facts, and SCD models in analytics
  sagaz/analytics/pipeline.py
  sagaz/analytics/queries.py
  sagaz/analytics/schema.py
  tests/unit/test_analytics.py
  uv.lock
Due: unittests, integration

fix(tests): skip analytics tests when duckdb is not installed
  sagaz/analytics/__init__.py
  tests/unit/test_analytics.py
Due: none

feat(visualization): add FastAPI visualization server with SSE and dashboard
  docs/planning/visualization-ui-design.md
  pyproject.toml
  sagaz/visualization/__init__.py
  sagaz/visualization/server.py
  tests/unit/test_visualization_server.py
Due: unittests, integration

fix(visualization): remove unused inspect and queue imports from server.py
  sagaz/visualization/server.py
Due: unittests, integration

feat(storage): add opt-in event-sourced storage strategy with projections
  docs/planning/event-sourcing-design.md
  sagaz/cli/app.py
  sagaz/core/events.py
  sagaz/projections/__init__.py
  sagaz/projections/summary.py
  sagaz/storage/event_store.py
  tests/unit/test_event_sourcing.py
Due: unittests, integration, Storage Backends

fix(storage): remove unused imports from event sourcing module
  sagaz/core/events.py
  sagaz/storage/event_store.py
Due: unittests, integration, Storage Backends

fix(sagaz): fix TenantAwareSagaExecutor.execute() return type mismatch
  sagaz/core/tenant.py
Due: unittests, integration

feat(sagaz): implement multi-tenant isolation with TenantContext
  sagaz/__init__.py
  sagaz/core/tenant.py
  tests/integration/test_multi_tenancy_executor.py
  tests/unit/core/test_tenant_context.py
Due: unittests, integration

fix(monitoring): address copilot review suggestions for Fluss/Iceberg listeners
  sagaz/monitoring/fluss.py
  sagaz/monitoring/iceberg.py
Due: unittests, integration, Monitoring

feat(monitoring): implement Fluss streaming listener and Iceberg tiering
  docs/architecture/adr/adr-013-fluss-iceberg-analytics.md
  sagaz/monitoring/fluss.py
  sagaz/monitoring/iceberg.py
  tests/unit/test_fluss_iceberg.py
Due: unittests, integration, Monitoring

feat(integrations): add Debezium CDC worker, pg_logical source and metrics
  docs/architecture/adr/adr-011-cdc-support.md
  sagaz/integrations/cdc/__init__.py
  sagaz/integrations/cdc/metrics.py
  sagaz/integrations/cdc/pg_logical.py
  sagaz/integrations/cdc/worker.py
  tests/unit/test_cdc.py
Due: unittests, integration

fix(integrations): address copilot review suggestions for CDC module
  sagaz/integrations/cdc/pg_logical.py
  sagaz/integrations/cdc/worker.py
Due: unittests, integration

fix(integrations): remove unreachable code in _parse_message
  sagaz/integrations/cdc/pg_logical.py
Due: unittests, integration

docs(ci): implement issue-PR relationship policy with nuanced validation
  docs/development/ISSUE-PR-POLICY.md
Due: none

docs(ci): update issue-PR policy implementation with conditional validation
  .github/skills/development-policy/SKILL.md
  .github/workflows/gitflow-compliance.yml
  docs/development/contributing.md
Due: none

feat(sagaz): add multi-region coordinator with routing and failover
  docs/planning/multi-region-design.md
  sagaz/cli/app.py
  sagaz/core/coordinator.py
  sagaz/core/regions.py
  tests/unit/test_multi_region.py
Due: unittests, integration

fix(sagaz): remove unused imports from multi-region coordination module
  sagaz/core/coordinator.py
  sagaz/core/regions.py
Due: unittests, integration

fix(tests): replace asyncio.get_event_loop() with asyncio.run() in choreography tests
  tests/unit/test_choreography.py
Due: none

feat(execution): add saga choreography engine with EventBus and @on_event
  docs/architecture/adr/adr-029-saga-choreography.md
  sagaz/choreography/__init__.py
  sagaz/choreography/decorators.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  sagaz/choreography/saga.py
  tests/unit/test_choreography.py
Due: unittests, integration

fix(saga): address copilot review suggestions for choreography module
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
Due: unittests, integration

fix(integrations): address copilot review suggestions on redis streams bus
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/redis_streams.py
Due: unittests, integration

feat(integrations): add RedisStreamsEventBus for distributed choreography without Kafka/RabbitMQ
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

feat(execution): add broker-agnostic EventBus with Kafka and RabbitMQ backends
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/factory.py
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/unit/test_bus_factory.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
Due: unittests, integration

fix(saga): address copilot and codeql review comments on choreography
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/integration/test_choreography_containers.py
  tests/integration/test_choreography_performance.py
  tests/unit/test_choreography.py
Due: unittests, integration

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
