Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

fix(storage): remove unused field import from migration module
  sagaz/core/storage/migration.py
Due: unittests, integration

fix(storage): correct module import paths in SQLite integration tests
  tests/integration/test_storage_manager_integration.py
Due: none

fix(sagaz): address copilot review suggestions on sqldim analytics pipeline
  sagaz/analytics/pipeline.py
  sagaz/analytics/schema.py
  tests/unit/test_analytics.py
Due: unittests, integration

feat(storage): add SagaStorageMigrator and sagaz migrate CLI command
  docs/planning/storage-migration-design.md
  jobs/fluss_to_iceberg.sql
  sagaz/cli/app.py
  sagaz/core/storage/migration.py
  tests/unit/core/storage/test_storage_migration.py
Due: unittests, integration

fix(cli): add region_group CLI command for multi-region coordination
  sagaz/cli/app.py
Due: unittests, integration

feat(sagaz): add multi-region coordinator with routing and failover
  docs/planning/multi-region-design.md
  sagaz/core/coordinator.py
  sagaz/core/regions.py
  tests/unit/test_multi_region.py
Due: unittests, integration

fix(storage): add sagaz.storage.migration and transfer shim modules
  sagaz/storage/migration.py
  sagaz/storage/transfer/__init__.py
  sagaz/storage/transfer/service.py
Due: unittests, integration, Storage Backends

chore(sagaz): apply ruff formatting to analytics pipeline and tests
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

feat(cli): add migrate command for storage data transfer
  sagaz/cli/migrate.py
Due: unittests, integration

feat(monitoring): add sagaz analytics Bronze-Silver-Gold pipeline
  docs/architecture/adr/adr-036-sqldim-analytics-pipeline.md
  pyproject.toml
  sagaz/analytics/__init__.py
  sagaz/analytics/pipeline.py
  sagaz/analytics/queries.py
  sagaz/analytics/schema.py
  tests/unit/test_analytics.py
Due: unittests, integration

fix(tests): skip analytics tests when duckdb is not installed
  sagaz/analytics/__init__.py
  tests/unit/test_analytics.py
Due: none

fix(sagaz): remove unused imports from multi-region coordination module
  sagaz/core/coordinator.py
  sagaz/core/regions.py
Due: unittests, integration

fix(storage): format migration.py line wrapping
  sagaz/storage/migration.py
Due: unittests, integration, Storage Backends

fix(storage): fix import ordering in SQLite integration tests
  tests/integration/test_storage_manager_integration.py
Due: none

fix(sagaz): add explicit strict=False to zip() and reduce pipeline complexity
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

feat(storage): complete SQLite backend with file-based integration tests
  docs/planning/sqlite-backend-design.md
  pytest.ini
  sagaz/deployment/resources/sagaz.yaml.template
  tests/integration/test_storage_manager_integration.py
Due: unittests, integration

fix(outbox): resolve example file and import sorting issues
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  pyproject.toml
Due: none

feat(outbox): add dead letter queue support with CLI management commands
  docs/patterns/dead-letter-queue.md
  sagaz/cli/app.py
  sagaz/cli/dlq.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

feat(outbox): add DLQ observability — error classification, replay validation (ADR-038)
  docs/architecture/adr/adr-038-dlq-observability.md
  quality_report.txt
  sagaz/cli/dlq.py
  sagaz/core/outbox/dlq_validator.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

test(outbox): add coverage for DLQ callpath and edge cases
  tests/unit/core/outbox/test_dlq.py
Due: none

fix(outbox): resolve line length and mutable default violations
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/decorators/_visualization.py
  sagaz/core/exceptions/_dependency.py
Due: unittests, integration

fix(outbox): resolve ruff lint violations in DLQ modules
  sagaz/cli/app.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(outbox): format error_classifier.py line wrapping
  DLQ_OBSERVABILITY_ANALYSIS.md
  sagaz/cli/visualize.py
  sagaz/core/outbox/error_classifier.py
Due: unittests, integration

fix(outbox): remove unused noqa directive
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/exceptions/_dependency.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(tests): update MissingDependencyError test for refactored INSTALL_COMMANDS method
  tests/unit/core/exceptions/test_exceptions.py
Due: none

fix(storage): format lint violations
  sagaz/storage/event_store.py
Due: unittests, integration, Storage Backends

fix(visualization): remove unused inspect and queue imports from server.py
  sagaz/observability/visualization/server.py
Due: unittests, integration

fix(storage): remove unused imports from event sourcing module
  sagaz/core/events.py
  sagaz/core/storage/event_store.py
Due: unittests, integration

feat(visualization): add sagaz.visualization.server FastAPI app
  sagaz/visualization/__init__.py
  sagaz/visualization/server.py
Due: unittests, integration

fix(visualization): format lint violations
  sagaz/observability/visualization/__init__.py
Due: none

feat(storage): add opt-in event-sourced storage strategy with projections
  docs/planning/event-sourcing-design.md
  sagaz/core/events.py
  sagaz/core/storage/event_store.py
  sagaz/projections/__init__.py
  sagaz/projections/summary.py
  tests/unit/test_event_sourcing.py
Due: unittests, integration

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
