Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

lint(): fix type checks
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/storage/redis.py
Due: unittests, integration, Storage Backends, Outbox Pattern

hotfix(): Fix double await statement and type checks
  .github/workflows/lint.yml
  sagaz/core.py
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/outbox/worker.py
  sagaz/storage/redis.py
Due: unittests, integration, Core Saga, Storage Backends, Outbox Pattern

refactor(): Replace deprecated test cov action
  .github/workflows/tests.yml
Due: none

hotfix(sagaz,tests): Review backward compatibility and observability integration references
  sagaz/__init__.py
  tests/test_hooks_listeners.py
  tests/test_observability_integration.py
Due: none

docs(): Remove emojis
  README.md
Due: none

feat(): run benchmark in as a gh-action workflow
  .github/workflows/benchmark.yml
Due: none

config(): Review markers, add cli and dependencies
  pyproject.toml
Due: none

lint()
  pyproject.toml
  sagaz/__init__.py
  sagaz/cli.py
  sagaz/cli_app.py
  sagaz/config.py
  sagaz/decorators.py
  sagaz/listeners.py
  sagaz/monitoring/__init__.py
  sagaz/monitoring/prometheus.py
  tests/test_api_protection.py
  tests/test_observability_integration.py
  tests/test_performance.py
  uv.lock
Due: unittests, integration, Core Saga, Monitoring

refactor(): Review lint and test issues
  sagaz/config.py
  sagaz/core.py
Due: unittests, integration, Core Saga

refactor(): Reduce complexity
  sagaz/config.py
Due: unittests, integration

lint(): Format lint files
  sagaz/cli.py
  sagaz/cli_app.py
  sagaz/decorators.py
  sagaz/listeners.py
  sagaz/monitoring/__init__.py
  sagaz/monitoring/prometheus.py
  sagaz/outbox/worker.py
  tests/test_observability_integration.py
  tests/test_performance.py
Due: unittests, integration, Core Saga, Outbox Pattern, Monitoring

refactor(): Solve mypy issues
  pyproject.toml
  sagaz/cli_app.py
  sagaz/monitoring/prometheus.py
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/storage/redis.py
  uv.lock
Due: unittests, integration, Storage Backends, Outbox Pattern, Monitoring

refactor(): Solve mypy issues
  sagaz/monitoring/prometheus.py
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/storage/redis.py
Due: unittests, integration, Storage Backends, Outbox Pattern, Monitoring

refactor(): Solve mypy issues
  pyproject.toml
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
Due: unittests, integration, Outbox Pattern

hotfix(): Review benchmark workflow fo parsing
  .github/workflows/benchmark.yml
Due: none

refactor(): Improve coverage
  pyproject.toml
  sagaz/config.py
  sagaz/core.py
  sagaz/decorators.py
  sagaz/monitoring/prometheus.py
  sagaz/monitoring/tracing.py
  sagaz/outbox/brokers/kafka.py
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/outbox/worker.py
  sagaz/state_machine.py
  sagaz/storage/postgresql.py
  sagaz/storage/redis.py
  tests/conftest.py
  tests/test_broker_containers.py
  tests/test_brokers_coverage.py
  tests/test_config_coverage.py
  tests/test_outbox_patterns.py
  tests/test_performance.py
  tests/test_prometheus_metrics.py
  uv.lock
Due: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring

Update README.md formatting and content
  docs/README.md
Due: none

docs(): Add storage options and unified storage class
  docs/RELEASE_CHECKLIST_v1.1.0.md
  docs/ROADMAP.md
  docs/architecture/README.md
  docs/architecture/ha-postgres-implementation.md
  docs/architecture/resources-reorganization-summary.md
  docs/architecture/scalable-deployment-plan.md
  docs/architecture/unified-storage-implementation-plan.md
  docs/guides/ha-postgres-quickref.md
Due: none

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
