Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

chore(ci): promote develop to main — CI consolidation + dependency updates (#107)
  .github/workflows/commitlint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-description.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/require-issue-reference.yml
  .github/workflows/tests.yml
  docker-compose.yaml
  docs/planning/release-review-next.md
  pyproject.toml
  renovate.json
  sagaz/resources/local/kafka/docker-compose.yaml
  sagaz/resources/local/postgres/docker-compose.yaml
  sagaz/resources/local/rabbitmq/docker-compose.yaml
  sagaz/resources/local/redis/docker-compose.yaml
  uv.lock
Due: unittests, integration

docs(docs): add scoped release plan and fix stale documentation
  docs/ROADMAP.md
  docs/architecture/adr/README.md
  docs/architecture/deep-dives/compensation-graph-deep-dive.md
  docs/guides/ha-postgres-quickref.md
  docs/planning/release-plan.md
Due: none

docs(docs): fix issue number references in release plan
  docs/planning/release-plan.md
Due: none

docs(docs): update ADR-017/018/020 status from Proposed to Accepted
  docs/architecture/adr-roadmap-dependencies.md
Due: none

docs(docs): add scoped release plan and fix stale documentation (#116)
  docs/ROADMAP.md
  docs/architecture/adr/README.md
  docs/architecture/deep-dives/compensation-graph-deep-dive.md
  docs/guides/ha-postgres-quickref.md
  docs/planning/release-plan.md
Due: none

ci(ci): add commit-label-sync workflow to map commit types to PR and issue labels
  .github/workflows/commit-label-sync.yml
Due: none

docs(docs): add release DAG and update ADR-017/018/020 to implemented (#82)
  docs/architecture/adr-roadmap-dependencies.md
  docs/architecture/adr/README.md
  docs/architecture/adr/adr-017-chaos-engineering.md
  docs/architecture/adr/adr-018-saga-versioning.md
  docs/architecture/adr/adr-019-dry-run-mode.md
  docs/architecture/adr/adr-020-multi-tenancy.md
  docs/planning/release-dag.md
Due: none

ci(ci): add commit-label-sync workflow to map commit types to PR and issue labels (#121)
  .github/workflows/commit-label-sync.yml
Due: none

feat(outbox): add dead letter queue support with CLI management commands
  docs/patterns/dead-letter-queue.md
  sagaz/cli/app.py
  sagaz/cli/dlq.py
  sagaz/outbox/types.py
  sagaz/outbox/worker.py
  sagaz/storage/backends/memory/outbox.py
  sagaz/storage/interfaces/outbox.py
  tests/unit/outbox/test_dlq.py
Due: unittests, integration, Storage Backends, Outbox Pattern

feat(monitoring): add AlertManager rules template and alerting guide
  docs/monitoring/alerting.md
  docs/monitoring/alertmanager-rules.yml
  tests/unit/monitoring/test_alertmanager_rules.py
Due: none

fix(tests): use sorted() in parametrize to fix xdist test collection order
  tests/unit/monitoring/test_alertmanager_rules.py
Due: none

fix(monitoring): remove stale TDD docstring and unused GRAFANA_DASHBOARD_PATH
  tests/unit/monitoring/test_alertmanager_rules.py
Due: none

feat(storage): complete SQLite backend with file-based integration tests
  docs/planning/sqlite-backend-design.md
  pytest.ini
  sagaz/resources/sagaz.yaml.template
  tests/integration/test_storage_manager_integration.py
Due: unittests, integration

fix(storage): remove unused field import from migration module
  sagaz/storage/migration.py
Due: unittests, integration, Storage Backends

feat(storage): add SagaStorageMigrator and sagaz migrate CLI command
  docs/planning/storage-migration-design.md
  jobs/fluss_to_iceberg.sql
  sagaz/cli/app.py
  sagaz/storage/migration.py
  tests/unit/storage/test_storage_migration.py
Due: unittests, integration, Storage Backends

feat(cli): add sagaz visualize command for Mermaid diagram generation
  docs/planning/cli-v1-design.md
  sagaz/cli/app.py
  tests/unit/cli/test_cli_visualize.py
Due: unittests, integration

feat(cli): add multi-cloud deploy sub-commands for aws, gcp and kubernetes
  charts/sagaz/Chart.yaml
  charts/sagaz/values.yaml
  docs/planning/cli-v2-design.md
  infra/aws/main.tf
  infra/gcp/main.tf
  sagaz/cli/app.py
  tests/unit/cli/test_cli_cloud_deploy.py
Due: unittests, integration

fix(deps): make ipython 9.11.0 conditional on python>=3.12
  pyproject.toml
  uv.lock
Due: none

ci(ci): consolidate workflows into gitflow-compliance and quality-gates
  .github/workflows/commitlint.yml
  .github/workflows/gitflow-compliance.yml
  .github/workflows/pr-description.yml
  .github/workflows/quality-gates.yml
  .github/workflows/require-issue-reference.yml
  .github/workflows/tests.yml
  .github/workflows/validate-branch-flow.yml
Due: none

ci(ci): merge commit-label-sync into maintenance with scope-based labeling
  .github/workflows/commit-label-sync.yml
  .github/workflows/maintenance.yml
Due: none

ci(ci): add PR title validation and map to scope-based labeling
  .github/workflows/gitflow-compliance.yml
  .github/workflows/maintenance.yml
Due: none

ci(ci): extend issue labeling to support conventional commit format
  .github/workflows/maintenance.yml
Due: none

ci(ci): configure commitlint to ignore merge commits
  commitlint.config.cjs
Due: none

ci(ci): add direct push protection for main and develop branches
  .github/workflows/gitflow-compliance.yml
Due: none

ci(ci): adjust footer-leading-blank rule to warning level
  commitlint.config.cjs
Due: none

ci(ci): restrict commitlint job to pull_request events only
  .github/workflows/quality-gates.yml
Due: none

test: attempt direct push
  test_protection.txt
Due: none

docs(development-policy): update GitFlow enforcement documentation and workflow improvements
  .github/skills/development-policy/SKILL.md
  docs/development/WORKFLOW_IMPROVEMENTS.md
  docs/development/contributing.md
Due: none

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
