Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

refactor(sagaz): run ruff check --fix
  sagaz/cli/_init_handlers.py
  sagaz/cli/app.py
  sagaz/cli/benchmark.py
  sagaz/cli/dry_run.py
  sagaz/cli/dry_run_ui.py
  sagaz/cli/examples/__init__.py
  sagaz/cli/examples/interactive.py
  sagaz/cli/examples/ui.py
  sagaz/cli/init/k8s.py
  sagaz/cli/init/local.py
  sagaz/cli/init/others.py
  sagaz/cli/init/utils.py
  sagaz/cli/init/wizard.py
  sagaz/cli/ops.py
  sagaz/cli/replay.py
  sagaz/cli/replay_ui.py
  sagaz/cli/setup.py
  sagaz/core/execution/graph/_core.py
  sagaz/observability/visualization/mermaid.py
  tests/unit/cli/test_cli_examples.py
  tests/unit/cli/test_cli_examples_discovery_final.py
  tests/unit/cli/test_cli_examples_discovery_ui_enhanced.py
  tests/unit/cli/test_cli_examples_execution_enhanced.py
  tests/unit/cli/test_cli_examples_interactive_enhanced.py
  tests/unit/cli/test_init_handlers.py
Due: unittests, integration

refactor(sagaz): run ruff format
  sagaz/cli/benchmark.py
  sagaz/cli/dry_run.py
  sagaz/cli/dry_run_ui.py
  sagaz/cli/examples.py
  sagaz/cli/examples/execution.py
  sagaz/cli/examples/interactive.py
  sagaz/cli/examples/ui.py
  sagaz/cli/init/k8s.py
  sagaz/cli/init/local.py
  sagaz/cli/init/others.py
  sagaz/cli/init/utils.py
  sagaz/cli/init/wizard.py
  sagaz/cli/main.py
  sagaz/cli/ops.py
  sagaz/cli/project.py
  sagaz/cli/replay.py
  sagaz/cli/replay_ui.py
  sagaz/core/execution/graph/_core.py
  sagaz/observability/visualization/mermaid.py
  tests/unit/cli/test_cli_examples_discovery_final.py
  tests/unit/cli/test_cli_examples_discovery_ui_enhanced.py
  tests/unit/cli/test_cli_examples_execution_enhanced.py
  tests/unit/cli/test_cli_examples_interactive_enhanced.py
  tests/unit/cli/test_init_handlers.py
Due: unittests, integration

docs(visualization): propose ADR-039 for Gradio UI and fix manual lint regressions
  docs/ROADMAP.md
  docs/architecture/adr/README.md
  docs/architecture/adr/adr-039-gradio-ui-monitor.md
  sagaz/cli/replay.py
  sagaz/core/triggers/sources/broker.py
  sagaz/core/triggers/sources/cron.py
  sagaz/observability/monitoring/tracing.py
Due: unittests, integration

docs(visualization): propose ADR-039 for Gradio UI Monitor
  docs/ROADMAP.md
  docs/architecture/adr/README.md
  docs/architecture/adr/adr-039-gradio-ui-monitor.md
Due: none

docs(visualization): incorporate ADR-035 features into ADR-039
  docs/architecture/adr/adr-039-gradio-ui-monitor.md
Due: none

fix(cli): restore missing replay_ui module to resolve import errors
  sagaz/cli/replay_ui.py
Due: unittests, integration

refactor(ci): lint script files
  scripts/_service_manager.py
  scripts/inventory_demos.py
  scripts/test_integration_examples.py
Due: none

refactor(docs): remove legacy files
  DLQ_OBSERVABILITY_ANALYSIS.md
  QUICK_START.md
  docs/ADR-037-IMPLEMENTATION-NOTES.md
Due: none

refactor(docs): remove legacy files
  quality_report.txt
Due: none

refactor(tests): review tests, cli and examples regarding indentation and new cases
  examples/outbox/outbox_demo.py
  sagaz/cli/replay_ui.py
  tests/unit/cli/test_cli_migrate.py
  tests/unit/cli/test_cli_visualize.py
Due: unittests, integration

Remove benchmark-comparison job from test gates
  .github/workflows/test-gates.yml
Due: none

Add aioboto3 dependency for integration tests
  pyproject.toml
Due: none

Add zstandard dependency to integration tests
  pyproject.toml
Due: none

Potential fix for pull request finding 'CodeQL / Unused import'
  sagaz/cli/replay.py
Due: unittests, integration

Potential fix for pull request finding 'CodeQL / Unused import'
  sagaz/storage/transfer/service.py
Due: unittests, integration, Storage Backends

Potential fix for pull request finding 'CodeQL / Unused import'
  sagaz/storage/migration.py
Due: unittests, integration, Storage Backends

Potential fix for pull request finding
  docs/architecture/adr/README.md
Due: none

Potential fix for pull request finding
  sagaz/examples/technology/ai/ai_content_pipeline/README.md
Due: unittests, integration

Potential fix for pull request finding
  sagaz/examples/technology/ai/langgraph_support_agent/README.md
Due: unittests, integration

Potential fix for pull request finding
  sagaz/examples/technology/ai/pydantic_ai_research/README.md
Due: unittests, integration

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
