Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

docs(): Update README with proper badges
  README.md
Due: none

feat(): Add atomic configuration
  sagaz/__init__.py
  sagaz/config.py
  sagaz/decorators.py
  sagaz/outbox/brokers/factory.py
  sagaz/storage/factory.py
  tests/test_config.py
  tests/test_core.py
  tests/test_decorators.py
  tests/test_high_priority_features.py
  tests/test_sagas.py
Due: unittests, integration, Core Saga, Storage Backends, Outbox Pattern

config(): remove integration tests from ci workflows
  .github/workflows/tests.yml
  pyproject.toml
  uv.lock
Due: none

config(): Tag 1.0.3
  pyproject.toml
  uv.lock
Due: none

docs(): Update shipped and planned features
  docs/README.md
  docs/ROADMAP.md
  docs/architecture/overview.md
  docs/development/changelog.md
  docs/guides/configuration.md
  docs/quickstart.md
Due: none

feat(grafana): Add dashboard for observability
  grafana/README.md
  grafana/sagaz-dashboard.json
Due: none

docs(): Update version 1.0.3 with new features
  README.md
  docs/development/changelog.md
  docs/guides/mermaid.md
  docs/quickstart.md
Due: none

feat(): Add mermaid diagrams for both saga and single execution
  sagaz/core.py
  sagaz/decorators.py
  tests/test_core.py
  tests/test_mermaid_and_validation.py
Due: unittests, integration, Core Saga

lint(): proper fixing lint issues
  sagaz/core.py
  sagaz/decorators.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/outbox/state_machine.py
  tests/test_compensation_graph.py
  tests/test_coverage_final.py
  tests/test_helpers_properties.py
  tests/test_mermaid_and_validation.py
  tests/test_redis_broker.py
  tests/test_storage_backends.py
  tests/test_storage_factory.py
  tests/test_tracing.py
  tests/test_tracing_mocked.py
Due: unittests, integration, Core Saga, Outbox Pattern

feat(sagaz): Mermaid diagram and example
  examples/mermaid_visualization_demo.py
  sagaz/core.py
  sagaz/decorators.py
  sagaz/mermaid.py
  tests/test_mermaid_and_validation.py
  uv.lock
Due: unittests, integration, Core Saga

refactor(core): Remove not-executed nodes
  examples/mermaid_visualization_demo.py
  sagaz/mermaid.py
  tests/test_mermaid_and_validation.py
Due: unittests, integration

refactor(docs): Look-ahead plan with future features
  docs/ROADMAP.md
  docs/architecture/adr/adr-013-fluss-iceberg-analytics.md
  docs/architecture/adr/adr-014-schema-registry.md
  docs/architecture/fluss-analytics.md
  docs/monitoring/alertmanager-rules.yml
  docs/patterns/dead-letter-queue.md
  docs/patterns/multi-sink-fanout.md
Due: none

refactor(): Lint and complexity fixed
  sagaz/core.py
  sagaz/decorators.py
  sagaz/mermaid.py
  tests/test_mermaid_and_validation.py
Due: unittests, integration, Core Saga

lint(): Apply format lint
  sagaz/mermaid.py
  tests/test_core.py
  tests/test_mermaid_and_validation.py
  tests/test_mermaid_coverage.py
Due: unittests, integration

refactor(tests): Review tests and add gaps
  pyproject.toml
  sagaz/config.py
  tests/conftest.py
  tests/test_coverage_improvements.py
  tests/test_remaining_gaps.py
  tests/test_storage_backends.py
  tests/test_storage_integration.py
Due: unittests, integration

refactor(): Rename and merge tests
  tests/test_config_extended.py
  tests/test_core.py
  tests/test_coverage_gaps.py
  tests/test_edge_cases.py
  tests/test_factories.py
  tests/test_helpers_properties.py
  tests/test_hooks.py
  tests/test_listeners.py
  tests/test_mermaid.py
  tests/test_mermaid_coverage.py
  tests/test_outbox_edge_cases.py
  tests/test_outbox_extended_coverage.py
  tests/test_outbox_patterns.py
  tests/test_outbox_worker.py
  tests/test_patterns.py
  tests/test_remaining_coverage_fixed.py
  tests/test_storage.py
  tests/test_storage_backends.py
  tests/test_storage_backends_mocked.py
  tests/test_storage_coverage.py
  tests/test_storage_postgresql.py
  tests/test_storage_redis.py
  tests/test_storage_unit.py
Due: none

lint()
  tests/conftest.py
  tests/test_mermaid.py
  tests/test_patterns.py
  tests/test_storage_postgresql.py
  tests/test_storage_redis.py
Due: none

lint(): uv run format
  examples/mermaid_visualization_demo.py
  examples/monitoring.py
  examples/order_processing/actions.py
  examples/order_processing/compensations.py
  examples/order_processing/main.py
  examples/order_processing/notification.py
  examples/payment_processing/main.py
  examples/trade_execution/main.py
  examples/travel_booking/main.py
  scripts/high_throughput_benchmark.py
  scripts/k8s_cluster_test.py
  tests/conftest.py
  tests/test_config_extended.py
  tests/test_storage_integration.py
  tests/test_storage_postgresql.py
  tests/test_storage_redis.py
Due: none

lint(): FIx type checks
  sagaz/compensation_graph.py
  sagaz/config.py
  sagaz/core.py
  sagaz/decorators.py
  sagaz/monitoring/metrics.py
  sagaz/monitoring/tracing.py
  sagaz/outbox/brokers/factory.py
  sagaz/outbox/brokers/kafka.py
  sagaz/outbox/brokers/rabbitmq.py
  sagaz/outbox/brokers/redis.py
  sagaz/outbox/consumer_inbox.py
  sagaz/outbox/optimistic_publisher.py
  sagaz/outbox/storage/memory.py
  sagaz/outbox/storage/postgresql.py
  sagaz/outbox/worker.py
  sagaz/storage/memory.py
  sagaz/storage/postgresql.py
  sagaz/storage/redis.py
  sagaz/strategies/fail_fast_grace.py
Due: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

Path conditions:
  unittests: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  integration: any of: sagaz/, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Core Saga: any of: sagaz/core.py, sagaz/decorators.py, sagaz/types.py, sagaz/exceptions.py, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Storage Backends: any of: sagaz/storage/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Outbox Pattern: any of: sagaz/outbox/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Monitoring: any of: sagaz/monitoring/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
  Parallel Strategies: any of: sagaz/strategies/**, but not: tests/**/*, examples/**/*, docs/**/*, **/__init__.py, sagaz/monitoring/tracing.py
