Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

perf(tests): remove redundant docker tests and fix subprocess cli test
  tests/unit/cli/test_main.py
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability_recovery.py
Due: none

test(tests): cover docker-dependent success and exception paths in demo files
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability_recovery.py
Due: none

docs(sagaz): establish governance framework for demonstration backlog
  .github/ISSUE_TEMPLATE/demo.md
  docs/development/demo-backlog.md
  docs/development/demo-module-template.md
  scripts/inventory_demos.py
Due: none

feat(cli): scaffold all demonstration modules
  sagaz/demonstrations/integrations/__init__.py
  sagaz/demonstrations/integrations/multi_tenancy/__init__.py
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/__init__.py
  sagaz/demonstrations/observability/otel_tracing/__init__.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/__init__.py
  sagaz/demonstrations/performance/optimization_guide/__init__.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/__init__.py
  sagaz/demonstrations/reliability/chaos_patterns/__init__.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/__init__.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/storage/__init__.py
  sagaz/demonstrations/storage/event_sourcing/__init__.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  tests/unit/demonstrations/integrations/__init__.py
  tests/unit/demonstrations/integrations/test_integrations.py
  tests/unit/demonstrations/observability/__init__.py
  tests/unit/demonstrations/observability/test_observability.py
  tests/unit/demonstrations/performance/__init__.py
  tests/unit/demonstrations/performance/test_performance.py
  tests/unit/demonstrations/storage/__init__.py
  tests/unit/demonstrations/storage/test_storage.py
  tests/unit/demonstrations/test_reliability.py
Due: unittests, integration

chore(ci): run lint issues
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/core/test_hooks_decorators_coverage.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_framework_integrations.py
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_schema_evolution.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: unittests, integration

fix(cli): apply Codex review suggestions for PR #254
  sagaz/cli/app.py
  sagaz/cli/demonstrations.py
Due: unittests, integration

fix(cli): apply Codex review suggestions for PR #255
  sagaz/cli/demonstrations.py
  sagaz/demonstrations/integrations/__init__.py
  sagaz/demonstrations/integrations/multi_tenancy/__init__.py
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/__init__.py
  sagaz/demonstrations/observability/otel_tracing/__init__.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/__init__.py
  sagaz/demonstrations/performance/optimization_guide/__init__.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/__init__.py
  sagaz/demonstrations/reliability/chaos_patterns/__init__.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/__init__.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/reliability_recovery/idempotency/main.py
  sagaz/demonstrations/storage/__init__.py
  sagaz/demonstrations/storage/event_sourcing/__init__.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  tests/unit/demonstrations/integrations/__init__.py
  tests/unit/demonstrations/integrations/test_integrations.py
  tests/unit/demonstrations/observability/__init__.py
  tests/unit/demonstrations/observability/test_observability.py
  tests/unit/demonstrations/performance/__init__.py
  tests/unit/demonstrations/performance/test_performance.py
  tests/unit/demonstrations/storage/__init__.py
  tests/unit/demonstrations/storage/test_storage.py
  tests/unit/demonstrations/test_reliability.py
Due: unittests, integration

fix(tests): apply Codex review suggestions for PR #256
  sagaz/demonstrations/reliability_recovery/idempotency/main.py
Due: unittests, integration

fix(cli): apply Codex review suggestions for PR #257
  sagaz/cli/app.py
Due: unittests, integration

chore(ci): run lint issues
  sagaz/cli/demonstrations.py
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/core/test_hooks_decorators_coverage.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_framework_integrations.py
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_schema_evolution.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: unittests, integration

chore(ci): run lint format issues
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: none

chore(ci): run lint format issues
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/core/test_hooks_decorators_coverage.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_framework_integrations.py
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_schema_evolution.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: unittests, integration

fix(cli): apply lint and format fixes
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  examples/outbox/outbox_demo.py
  sagaz/demonstrations/integrations/multi_tenancy/main.py
  sagaz/demonstrations/observability/otel_tracing/main.py
  sagaz/demonstrations/performance/optimization_guide/main.py
  sagaz/demonstrations/reliability/chaos_patterns/main.py
  sagaz/demonstrations/reliability/dlq_handling/main.py
  sagaz/demonstrations/storage/event_sourcing/main.py
  scripts/_service_manager.py
  scripts/inventory_demos.py
  scripts/test_integration_examples.py
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/core/test_hooks_decorators_coverage.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_framework_integrations.py
  tests/unit/demonstrations/test_orchestration_config.py
  tests/unit/demonstrations/test_reliability.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_schema_evolution.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: unittests, integration

fix(cli): apply lint and format fixes
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  examples/outbox/outbox_demo.py
  scripts/_service_manager.py
  scripts/inventory_demos.py
  scripts/test_integration_examples.py
  tests/unit/cli/test_cli_demonstrations.py
  tests/unit/demonstrations/test_core_patterns.py
  tests/unit/demonstrations/test_developer_experience.py
  tests/unit/demonstrations/test_reliability_recovery.py
  tests/unit/demonstrations/test_service_manager_coverage.py
Due: none

feat(outbox): add dead letter queue support with CLI management commands
  docs/patterns/dead-letter-queue.md
  sagaz/cli/app.py
  sagaz/cli/dlq.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

test(outbox): add coverage for DLQ callpath and edge cases
  tests/unit/core/outbox/test_dlq.py
Due: none

fix(outbox): format error_classifier.py line wrapping
  DLQ_OBSERVABILITY_ANALYSIS.md
  sagaz/cli/visualize.py
  sagaz/core/outbox/error_classifier.py
Due: unittests, integration

feat(outbox): add DLQ observability — error classification, replay validation (ADR-038)
  docs/architecture/adr/adr-038-dlq-observability.md
  sagaz/cli/dlq.py
  sagaz/core/outbox/dlq_validator.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(outbox): resolve ruff lint violations in DLQ modules
  sagaz/cli/app.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(outbox): resolve line length and mutable default violations
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/decorators/_visualization.py
  sagaz/core/exceptions/_dependency.py
Due: unittests, integration

fix(outbox): resolve example file and import sorting issues
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  pyproject.toml
Due: none

fix(tests): update MissingDependencyError test for refactored INSTALL_COMMANDS method
  tests/unit/core/exceptions/test_exceptions.py
Due: none

fix(outbox): remove unused noqa directive
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/exceptions/_dependency.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(sagaz): apply GitHub Advanced Security bot suggestions
  sagaz/core/outbox/worker.py
  sagaz/core/triggers/engine.py
  sagaz/dry_run.py
Due: unittests, integration

fix(tests): resolve quality regressions for v1.6.0
  sagaz/core/storage/migration.py
  sagaz/storage/migration.py
  sagaz/storage/transfer/service.py
  tests/unit/cli/test_cli_migrate.py
  tests/unit/cli/test_cli_visualize.py
  tests/unit/core/storage/test_manager_missing_paths.py
Due: unittests, integration, Storage Backends

chore(sagaz): apply lint check and format changes
  quality_report.txt
  tests/unit/cli/test_cli_migrate.py
  tests/unit/cli/test_cli_visualize.py
Due: none

docs(sagaz): remove intermediary code files and remove codacy reference on README
  DLQ_OBSERVABILITY_ANALYSIS.md
  QUICK_START.md
  README.md
Due: none
