Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

feat(sagaz): Improve resources on sagaz
  sagaz/cli_app.py
Due: unittests, integration

docs(): Add adr and decisions to documentation
  docs/architecture/adr/adr-016-unified-storage-layer.md
  docs/architecture/decisions.md
  docs/architecture/unified-storage-implementation-plan.md
Due: none

docs(): Review/reorganize documentation
  docs/architecture/.adr-update-tracker.md
  docs/architecture/README.md
  docs/architecture/adr-dependencies-complete.md
  docs/architecture/adr-roadmap-dependencies.md
  docs/architecture/adr/adr-011-cdc-support.md
  docs/architecture/adr/adr-013-fluss-iceberg-analytics.md
  docs/architecture/adr/adr-014-schema-registry.md
  docs/architecture/adr/adr-016-unified-storage-layer.md
  docs/architecture/adr/adr-017-chaos-engineering.md
  docs/architecture/adr/adr-018-saga-versioning.md
  docs/architecture/adr/adr-019-dry-run-mode.md
  docs/architecture/adr/adr-020-multi-tenancy.md
  docs/architecture/adr/adr-021-lightweight-context-streaming.md
  docs/architecture/adr/adr-022-compensation-result-passing.md
  docs/architecture/adr/adr-023-pivot-irreversible-steps.md
  docs/architecture/adr/adr-024-saga-replay.md
  docs/architecture/adr/adr-025-event-driven-triggers.md
  docs/architecture/decisions.md
  docs/architecture/deep-dives/compensation-graph-deep-dive.md
  docs/architecture/future/design-distributed-saga-support.md
  docs/architecture/future/fluss-analytics.md
  docs/architecture/implementation-plans/README.md
  docs/architecture/implementation-plans/ha-postgres-implementation.md
  docs/architecture/implementation-plans/scalable-deployment-plan.md
  docs/architecture/implementation-plans/unified-storage-implementation-plan.md
  docs/archive/resources-reorganization-summary.md
Due: none

config(): Add new packages
  pyproject.toml
  uv.lock
Due: none

hotfix(): Fix core dependencies
  pyproject.toml
  sagaz/cli/__init__.py
  sagaz/cli/main.py
Due: unittests, integration

hotfix(): Review typing on storage
  sagaz/storage/backends/sqlite/outbox.py
  sagaz/storage/backends/sqlite/saga.py
Due: unittests, integration, Storage Backends

config(): Add httpx to dev dependencies
  pyproject.toml
  uv.lock
Due: none

lint
  sagaz/cli/app.py
  sagaz/cli/examples.py
  sagaz/core/__init__.py
  sagaz/examples/manufacturing/three_d_printing/__init__.py
  sagaz/examples/manufacturing/three_d_printing/main.py
  sagaz/examples/monitoring/mermaid_demo.py
  sagaz/integrations/django.py
  sagaz/storage/backends/memory/outbox.py
  sagaz/triggers/engine.py
  sagaz/triggers/registry.py
  sagaz/triggers/sources/broker.py
  scripts/e2e_demo.py
  scripts/high_throughput_benchmark.py
  scripts/k8s_cluster_test.py
  scripts/prometheus_demo.py
  tests/unit/monitoring/test_prometheus_metrics.py
  tests/unit/storage/test_storage_interfaces.py
Due: unittests, integration, Storage Backends

lint(): Format, fix and mypy fixes
  sagaz/cli/examples.py
  sagaz/core/config.py
  sagaz/core/decorators.py
  sagaz/examples/ai_agents/ai_content_pipeline.py
  sagaz/examples/ai_agents/langgraph_support_agent.py
  sagaz/examples/ai_agents/pydantic_ai_research.py
  sagaz/examples/data_engineering/etl_pipeline/main.py
  sagaz/examples/ml/training/model_deployment.py
  sagaz/execution/graph.py
  sagaz/integrations/_base.py
  sagaz/outbox/brokers/base.py
  sagaz/storage/backends/postgresql/outbox.py
  sagaz/storage/backends/postgresql/saga.py
  sagaz/storage/backends/redis/outbox.py
  sagaz/storage/backends/sqlite/outbox.py
  sagaz/storage/backends/sqlite/saga.py
  sagaz/storage/core/connection.py
  sagaz/storage/core/serialization.py
  sagaz/storage/factory.py
  sagaz/storage/manager.py
  sagaz/triggers/decorators.py
  sagaz/triggers/engine.py
  sagaz/triggers/sources/broker.py
  scripts/e2e_demo.py
  scripts/k8s_cluster_test.py
  scripts/local_integration_test.py
  scripts/metrics_demo.py
  scripts/prometheus_demo.py
Due: unittests, integration, Storage Backends, Outbox Pattern

hotfix(): Trigger with wrong output
  sagaz/triggers/engine.py
Due: unittests, integration

hotfix(): Review integration tests
  .github/workflows/tests.yml
Due: none
