Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

fix(integrations): address copilot review suggestions for CDC module
  sagaz/integrations/cdc/pg_logical.py
  sagaz/integrations/cdc/worker.py
Due: unittests, integration

fix(sagaz): add explicit strict=False to zip() and reduce pipeline complexity
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

feat(integrations): add RedisStreamsEventBus for distributed choreography without Kafka/RabbitMQ
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

chore(sagaz): apply ruff formatting to analytics pipeline and tests
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

feat(execution): add broker-agnostic EventBus with Kafka and RabbitMQ backends
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/factory.py
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/unit/test_bus_factory.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
Due: unittests, integration

fix(cli): format lint violations
  sagaz/cli/visualize.py
Due: unittests, integration

test(outbox): add coverage for DLQ callpath and edge cases
  tests/unit/core/outbox/test_dlq.py
Due: none

fix(saga): address copilot and codeql review comments on choreography
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/integration/test_choreography_containers.py
  tests/integration/test_choreography_performance.py
  tests/unit/test_choreography.py
Due: unittests, integration

feat(cli): add visualize command for local dev saga inspection
  sagaz/cli/visualize.py
Due: unittests, integration

fix(outbox): format error_classifier.py line wrapping
  DLQ_OBSERVABILITY_ANALYSIS.md
  sagaz/cli/visualize.py
  sagaz/core/outbox/error_classifier.py
Due: unittests, integration

feat(outbox): add dead letter queue support with CLI management commands
  docs/patterns/dead-letter-queue.md
  sagaz/cli/app.py
  sagaz/cli/dlq.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(outbox): resolve ruff lint violations in DLQ modules
  sagaz/cli/app.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

chore(saga): apply ruff format to choreography bus modules and tests
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

test(tests): achieve 100% branch coverage on choreography module
  tests/unit/test_choreography.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: none

chore(saga): apply ruff formatting to choreography/__init__.py
  sagaz/choreography/__init__.py
Due: none

feat(outbox): add DLQ observability — error classification, replay validation (ADR-038)
  docs/architecture/adr/adr-038-dlq-observability.md
  quality_report.txt
  sagaz/cli/dlq.py
  sagaz/core/outbox/dlq_validator.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(cli): rewrite visualize_cmd to match test expectations
  sagaz/cli/visualize.py
Due: unittests, integration

fix(outbox): resolve line length and mutable default violations
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/decorators/_visualization.py
  sagaz/core/exceptions/_dependency.py
Due: unittests, integration

feat(storage): add SagaStorageMigrator and sagaz migrate CLI command
  docs/planning/storage-migration-design.md
  jobs/fluss_to_iceberg.sql
  sagaz/cli/app.py
  sagaz/core/storage/migration.py
  tests/unit/core/storage/test_storage_migration.py
Due: unittests, integration

fix(storage): format migration.py line wrapping
  sagaz/storage/migration.py
Due: unittests, integration, Storage Backends

fix(outbox): remove unused noqa directive
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/exceptions/_dependency.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(tests): update MissingDependencyError test for refactored INSTALL_COMMANDS method
  tests/unit/core/exceptions/test_exceptions.py
Due: none

fix(outbox): resolve example file and import sorting issues
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  pyproject.toml
Due: none

fix(storage): remove unused field import from migration module
  sagaz/core/storage/migration.py
Due: unittests, integration

feat(cli): add migrate command for storage data transfer
  sagaz/cli/migrate.py
Due: unittests, integration

fix(storage): add sagaz.storage.migration and transfer shim modules
  sagaz/storage/migration.py
  sagaz/storage/transfer/__init__.py
  sagaz/storage/transfer/service.py
Due: unittests, integration, Storage Backends

fix(storage): correct module import paths in SQLite integration tests
  tests/integration/test_storage_manager_integration.py
Due: none

fix(storage): fix import ordering in SQLite integration tests
  tests/integration/test_storage_manager_integration.py
Due: none
