Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

fix(cli): rewrite visualize_cmd to match test expectations
  sagaz/cli/visualize.py
Due: unittests, integration

feat(cli): add sagaz visualize command for Mermaid diagram generation
  docs/planning/cli-v1-design.md
  sagaz/cli/app.py
  tests/unit/cli/test_cli_visualize.py
Due: unittests, integration

fix(visualization): format lint violations
  sagaz/observability/visualization/__init__.py
Due: none

fix(storage): add sagaz.storage.migration and transfer shim modules
  sagaz/storage/migration.py
  sagaz/storage/transfer/__init__.py
  sagaz/storage/transfer/service.py
Due: unittests, integration, Storage Backends

feat(cli): add migrate command for storage data transfer
  sagaz/cli/migrate.py
Due: unittests, integration

fix(sagaz): add explicit strict=False to zip() and reduce pipeline complexity
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

fix(storage): remove unused field import from migration module
  sagaz/core/storage/migration.py
Due: unittests, integration

fix(storage): correct module import paths in SQLite integration tests
  tests/integration/test_storage_manager_integration.py
Due: none

fix(storage): format migration.py line wrapping
  sagaz/storage/migration.py
Due: unittests, integration, Storage Backends

feat(visualization): add sagaz.visualization.server FastAPI app
  sagaz/visualization/__init__.py
  sagaz/visualization/server.py
Due: unittests, integration

feat(execution): add broker-agnostic EventBus with Kafka and RabbitMQ backends
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/factory.py
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/unit/test_bus_factory.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
Due: unittests, integration

fix(cli): add deploy_cmd and teardown_cmd to app module for testability
  sagaz/cli/app.py
Due: unittests, integration

fix(saga): address copilot and codeql review comments on choreography
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  tests/integration/test_choreography_containers.py
  tests/integration/test_choreography_performance.py
  tests/unit/test_choreography.py
Due: unittests, integration

feat(monitoring): implement Fluss streaming listener and Iceberg tiering
  docs/architecture/adr/adr-013-fluss-iceberg-analytics.md
  sagaz/observability/monitoring/fluss.py
  sagaz/observability/monitoring/iceberg.py
  tests/unit/test_fluss_iceberg.py
Due: unittests, integration

fix(tests): replace asyncio.get_event_loop() with asyncio.run() in choreography tests
  tests/unit/test_choreography.py
Due: none

fix(sagaz): fix TenantAwareSagaExecutor.execute() return type mismatch
  sagaz/core/tenant.py
Due: unittests, integration

chore(saga): apply ruff format to choreography bus modules and tests
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

fix(monitoring): address copilot review suggestions for Fluss/Iceberg listeners
  sagaz/observability/monitoring/fluss.py
  sagaz/observability/monitoring/iceberg.py
Due: unittests, integration

feat(integrations): add Debezium CDC worker, pg_logical source and metrics
  docs/architecture/adr/adr-011-cdc-support.md
  sagaz/integrations/cdc/__init__.py
  sagaz/integrations/cdc/metrics.py
  sagaz/integrations/cdc/pg_logical.py
  sagaz/integrations/cdc/worker.py
  tests/unit/test_cdc.py
Due: unittests, integration

feat(cli): add deploy and destroy commands for cloud deployments
  sagaz/cli/app.py
  sagaz/cli/deploy.py
Due: unittests, integration

fix(integrations): add missing _close method to PgLogicalSource
  sagaz/integrations/cdc/pg_logical.py
Due: unittests, integration

feat(execution): add saga choreography engine with EventBus and @on_event
  docs/architecture/adr/adr-029-saga-choreography.md
  sagaz/choreography/__init__.py
  sagaz/choreography/decorators.py
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
  sagaz/choreography/saga.py
  tests/unit/test_choreography.py
Due: unittests, integration

chore(saga): apply ruff formatting to choreography/__init__.py
  sagaz/choreography/__init__.py
Due: none

fix(integrations): address copilot review suggestions for CDC module
  sagaz/integrations/cdc/pg_logical.py
  sagaz/integrations/cdc/worker.py
Due: unittests, integration

test(tests): achieve 100% branch coverage on choreography module
  tests/unit/test_choreography.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: none

fix(saga): address copilot review suggestions for choreography module
  sagaz/choreography/engine.py
  sagaz/choreography/events.py
Due: unittests, integration

fix(integrations): remove unreachable code in _parse_message
  sagaz/integrations/cdc/pg_logical.py
Due: unittests, integration

fix(integrations): address copilot review suggestions on redis streams bus
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/redis_streams.py
Due: unittests, integration

fix(cli): format lint violations
  sagaz/cli/app.py
  sagaz/cli/deploy.py
Due: unittests, integration

feat(integrations): add RedisStreamsEventBus for distributed choreography without Kafka/RabbitMQ
  sagaz/choreography/__init__.py
  sagaz/choreography/buses/__init__.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

feat(sagaz): implement multi-tenant isolation with TenantContext
  sagaz/__init__.py
  sagaz/core/tenant.py
  tests/integration/test_multi_tenancy_executor.py
  tests/unit/core/test_tenant_context.py
Due: unittests, integration

fix(outbox): format error_classifier.py line wrapping
  DLQ_OBSERVABILITY_ANALYSIS.md
  sagaz/cli/visualize.py
  sagaz/core/outbox/error_classifier.py
Due: unittests, integration

fix(outbox): resolve line length and mutable default violations
  sagaz/cli/_init_handlers.py
  sagaz/cli/_setup_handlers.py
  sagaz/core/decorators/_visualization.py
  sagaz/core/exceptions/_dependency.py
Due: unittests, integration

fix(outbox): resolve ruff lint violations in DLQ modules
  sagaz/cli/app.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

fix(outbox): resolve example file and import sorting issues
  examples/monitoring_and_observability/filesystem_snapshot_demo.py
  pyproject.toml
Due: none

test(outbox): add coverage for DLQ callpath and edge cases
  tests/unit/core/outbox/test_dlq.py
Due: none

feat(outbox): add DLQ observability — error classification, replay validation (ADR-038)
  docs/architecture/adr/adr-038-dlq-observability.md
  quality_report.txt
  sagaz/cli/dlq.py
  sagaz/core/outbox/dlq_validator.py
  sagaz/core/outbox/error_classifier.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration

feat(outbox): add dead letter queue support with CLI management commands
  docs/patterns/dead-letter-queue.md
  sagaz/cli/app.py
  sagaz/cli/dlq.py
  sagaz/core/outbox/types.py
  sagaz/core/outbox/worker.py
  sagaz/core/storage/backends/memory/outbox.py
  sagaz/core/storage/interfaces/outbox.py
  tests/unit/core/outbox/test_dlq.py
Due: unittests, integration
