Repository brunolnetto/sagaz: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Saga, Storage Backends, Outbox Pattern, Monitoring, Parallel Strategies

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "85...100"
  
  status:
    project:
      default:
        target: 95%  # Match current coverage level
        threshold: 2%  # Allow 2% drop before failing
        informational: false
        
    patch:
      default:
        target: 80%  # New code should have decent coverage
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - sagaz/
    carryforward: true
    
  integration:
    paths:
      - sagaz/
    carryforward: true

# Ignore certain files from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/__init__.py"
  - "sagaz/monitoring/tracing.py"  # OpenTelemetry detection code

# Component coverage - track coverage by module
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Saga
      paths:
        - sagaz/core.py
        - sagaz/decorators.py
        - sagaz/types.py
        - sagaz/exceptions.py
    - component_id: storage
      name: Storage Backends
      paths:
        - sagaz/storage/**
    - component_id: outbox
      name: Outbox Pattern
      paths:
        - sagaz/outbox/**
    - component_id: monitoring
      name: Monitoring
      paths:
        - sagaz/monitoring/**
    - component_id: strategies
      name: Parallel Strategies
      paths:
        - sagaz/strategies/**

test(tests): achieve 100% branch coverage on choreography module
  tests/unit/test_choreography.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: none

fix(tests): use builtin TimeoutError instead of asyncio.TimeoutError
  sagaz/testing/chaos.py
Due: unittests, integration

fix(sagaz): add explicit strict=False to zip() and reduce pipeline complexity
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

fix(integrations): add missing _close method to PgLogicalSource
  sagaz/integrations/cdc/pg_logical.py
Due: unittests, integration

chore(sagaz): apply ruff formatting to analytics pipeline and tests
  sagaz/analytics/pipeline.py
  tests/unit/test_analytics.py
Due: unittests, integration

chore(saga): apply ruff format to choreography bus modules and tests
  sagaz/choreography/buses/kafka.py
  sagaz/choreography/buses/rabbitmq.py
  sagaz/choreography/buses/redis_streams.py
  tests/unit/test_kafka_bus.py
  tests/unit/test_rabbitmq_bus.py
  tests/unit/test_redis_streams_bus.py
Due: unittests, integration

chore(saga): apply ruff formatting to choreography/__init__.py
  sagaz/choreography/__init__.py
Due: none

test(sagaz): cover redis url=None fallback branches in config
  tests/unit/test_config_coverage.py
Due: none

fix(tests): remove timeout kwarg from RabbitMqContainer.start
  tests/conftest_containers.py
Due: none

chore(tests): remove unused result variable flagged by ruff F841
  tests/unit/test_config_coverage.py
Due: none

test(sagaz): strengthen assertions in config coverage tests to verify types and defaults
  docs/development/VERSION_ANALYSIS_2026-04-09.md
  quality_report.txt
  tests/unit/test_config_coverage.py
Due: none

docs(sagaz): add versioning decision framework and update analysis with actionable options
  docs/development/VERSIONING_DECISION.md
  docs/development/VERSION_ANALYSIS_2026-04-09.md
Due: none

docs(docs): add PR review automation skill for Copilot suggestions and guard check fixes
  .github/skills/pr-review-automation/SKILL.md
Due: none

ci(ci): automate releases on milestone close and update version plan to SemVer
  .github/workflows/release.yml
  docs/ROADMAP.md
  docs/development/VERSIONING_DECISION.md
Due: none

docs(docs): add docstrings to MI and comment-ratio outlier modules
  sagaz/core/config.py
  sagaz/core/context.py
  sagaz/core/saga.py
  sagaz/execution/graph.py
  sagaz/execution/orchestrator.py
  sagaz/monitoring/logging.py
  sagaz/monitoring/metrics.py
  sagaz/storage/backends/memory/outbox.py
  sagaz/storage/backends/memory/saga.py
  sagaz/storage/backends/postgresql/saga.py
  sagaz/storage/backends/postgresql/snapshot.py
  sagaz/storage/backends/redis/saga.py
  sagaz/visualization/mermaid.py
Due: unittests, integration, Storage Backends, Monitoring

docs(docs): add ADR-036, ADR-037 and performance SLO baseline
  docs/architecture/adr/README.md
  docs/architecture/adr/adr-036-lifecycle-hooks-observers.md
  docs/architecture/adr/adr-037-compliance-data-governance.md
  docs/architecture/decisions.md
  docs/reference/performance-slo.md
Due: none

docs(docs): add docstrings to MI and comment-ratio outlier modules (#165)
  sagaz/core/config.py
  sagaz/core/context.py
  sagaz/core/saga.py
  sagaz/execution/graph.py
  sagaz/execution/orchestrator.py
  sagaz/monitoring/logging.py
  sagaz/monitoring/metrics.py
  sagaz/storage/backends/memory/outbox.py
  sagaz/storage/backends/memory/saga.py
  sagaz/storage/backends/postgresql/saga.py
  sagaz/storage/backends/postgresql/snapshot.py
  sagaz/storage/backends/redis/saga.py
  sagaz/visualization/mermaid.py
Due: unittests, integration, Storage Backends, Monitoring

docs(docs): add ADR-036, ADR-037 and performance SLO baseline (#167)
  docs/architecture/adr/README.md
  docs/architecture/adr/adr-036-lifecycle-hooks-observers.md
  docs/architecture/adr/adr-037-compliance-data-governance.md
  docs/architecture/decisions.md
  docs/reference/performance-slo.md
Due: none

refactor(saga): extract _StepExecutor into separate module
  sagaz/core/_step_executor.py
  sagaz/core/saga.py
Due: unittests, integration

refactor(saga): split large modules into focused sub-modules
  sagaz/cli/_init_handlers.py
  sagaz/cli/app.py
  sagaz/core/_step_decorators.py
  sagaz/core/decorators.py
Due: unittests, integration

fix(saga): remove unused imports and variables per CodeQL
  sagaz/cli/app.py
  sagaz/core/decorators.py
Due: unittests, integration

fix(tests): remove unsupported timeout kwarg from RabbitMqContainer.start()
  tests/conftest_containers.py
Due: none

test(cli): add unit tests for _init_handlers achieving 99% coverage
  sagaz/cli/_init_handlers.py
  tests/unit/cli/test_init_handlers.py
Due: unittests, integration

refactor(saga): split large modules below 813-line threshold
  sagaz/cli/_setup_handlers.py
  sagaz/cli/app.py
  sagaz/core/_decorator_visualization.py
  sagaz/core/_saga_compensation.py
  sagaz/core/_saga_snapshot.py
  sagaz/core/_saga_step.py
  sagaz/core/_saga_visualization.py
  sagaz/core/decorators.py
  sagaz/core/saga.py
Due: unittests, integration
